.menu, .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width:100%;
  z-index: 1000;
}

nav {
  height: auto; /*Junto a overflow: hidden; aplicará a nuestro elemento nav el mismo alto que el más alto de sus elementos hijos */ 
  margin: 0 auto; /* Centro el contenedor */
  position: relative;
  text-align: left;
  width: 100%; /* Defino el ancho de mi página */
  position: fixed;
  top: 0;
 border-radius: 30px ;
  box-shadow: 0 0 60px #666;
  word-wrap:break-word;
  z-index: 50;

}
body {

  /*background:#6495ED;*/
  margin-bottom:20px;
 
 

   
}
html{
 background: url("../img/Fondo1.jpg") no-repeat center center fixed;
 background-repeat: repeat;

  }

   html, body {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }
 
    #full-screen-background-image {
        z-index: -999;
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
    }
.menu {
    height: 58px;
    
}

.menu li {
    background: -moz-linear-gradient(#292929, #252525);

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #292929), color-stop(100%, #252525));
    background: -webkit-linear-gradient(#292929, #252525);
    background: -o-linear-gradient(#292929, #252525);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#292929', endColorstr='#252525');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#292929', endColorstr='#252525')";
    background: linear-gradient(#292929, #252525);

    border-bottom: 2px solid #181818;
    border-top: 2px solid #303030;
    width:20%;
   
   

}
.menu > li {
    display: block;
    float: left;
    position: relative;
}
.menu > li:first-child {
    border-radius: 5px 0 0;
}
.menu a {
    border-left: 3px solid rgba(0, 0, 0, 0);
    color:  #93c6f8;
    display: block;
    font-family: 'Lucida Console';
    font-size: 18px;
    line-height: 56px;
    padding: 0 25px;
    text-decoration: none;
    text-transform: uppercase;
}



.menu li:hover {
    background-color: #1c1c1c;
    background: -moz-linear-gradient(#1c1c1c, #1b1b1b);
  
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1c1c1c), color-stop(100%, #1b1b1b));
    background: -webkit-linear-gradient(#1c1c1c, #1b1b1b);
    background: -o-linear-gradient(#1c1c1c, #1b1b1b);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c1c1c', endColorstr='#1b1b1b');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c1c1c', endColorstr='#1b1b1b')";
    background: linear-gradient(#1c1c1c, #1b1b1b);

    border-bottom: 2px solid #222222;
    border-top: 2px solid #1B1B1B;
}
.menu li:hover > a {
    border-radius: 5px 0 0 0;
    border-left: 3px solid #1E90FF;
    color: #1E90FF;
}

.submenu {
 
    left: 0;
    max-height: 0;
    position: absolute;
    top: 100%;
    z-index: 0;

    -webkit-perspective: 400px;
    -moz-perspective: 400px;
    -ms-perspective: 400px;
  
    perspective: 400px;
}
.submenu li {
    opacity: 0;
   min-width:254px;
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);

    -webkit-transition: opacity .4s, -webkit-transform .5s;
    -moz-transition: opacity .4s, -moz-transform .5s;
 
    -o-transition: opacity .4s, -o-transform .5s;
    transition: opacity .4s, transform .5s;
}
.menu .submenu li:hover a {
    border-left: 3px solid  #1E90FF;
    border-radius: 0;
    color:  #1E90FF;
}
.menu > li:hover .submenu, .menu > li:focus .submenu {
    max-height: 2000px;
    z-index: 10;
}
.menu > li:hover .submenu li, .menu > li:focus .submenu li {
    opacity: 1;

    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}



.menu li:hover .submenu li:nth-child(1) {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
   
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
.menu li:hover .submenu li:nth-child(2) {
    -webkit-transition-delay: 50ms;
    -moz-transition-delay: 50ms;
   
    -o-transition-delay: 50ms;
    transition-delay: 50ms;
}
.menu li:hover .submenu li:nth-child(3) {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
   
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
}
.menu li:hover .submenu li:nth-child(4) {
    -webkit-transition-delay: 150ms;
    -moz-transition-delay: 150ms;
   
    -o-transition-delay: 150ms;
    transition-delay: 150ms;
}
.menu li:hover .submenu li:nth-child(5) {
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    
    -o-transition-delay: 200ms;
    transition-delay: 200ms;
}
.menu li:hover .submenu li:nth-child(6) {
    -webkit-transition-delay: 250ms;
    -moz-transition-delay: 250ms;
  
    -o-transition-delay: 250ms;
    transition-delay: 250ms;
}
.menu li:hover .submenu li:nth-child(7) {
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
 
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
}
.menu li:hover .submenu li:nth-child(8) {
    -webkit-transition-delay: 350ms;
    -moz-transition-delay: 350ms;
  
    -o-transition-delay: 350ms;
    transition-delay: 350ms;
}

.submenu li:nth-child(1) {
    -webkit-transition-delay: 350ms;
    -moz-transition-delay: 350ms;
   
    -o-transition-delay: 350ms;
    transition-delay: 350ms;
}
.submenu li:nth-child(2) {
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
   
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
}
.submenu li:nth-child(3) {
    -webkit-transition-delay: 250ms;
    -moz-transition-delay: 250ms;
    
    -o-transition-delay: 250ms;
    transition-delay: 250ms;
}
.submenu li:nth-child(4) {
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    
    -o-transition-delay: 200ms;
    transition-delay: 200ms;
}
.submenu li:nth-child(5) {
    -webkit-transition-delay: 150ms;
    -moz-transition-delay: 150ms;
   
    -o-transition-delay: 150ms;
    transition-delay: 150ms;
}
.submenu li:nth-child(6) {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
   
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
}
.submenu li:nth-child(7) {
    -webkit-transition-delay: 50ms;
    -moz-transition-delay: 50ms;
    -o-transition-delay: 50ms;
    transition-delay: 50ms;
}
.submenu li:nth-child(8) {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}





.form {
  background:#111; 
  width:480px;
  height:auto;
  margin:30px auto;
  border-radius:0.4em;
  border:1px solid #191919;
  overflow:hidden;
  position:relative;
  box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
}


.inset {
  padding:20px; 
  border-top:1px solid #19191a;
}

.form h1 {
  font-size:18px;
 color:#93c6f8;
  text-align:center;
  padding:20px 0;
  border-bottom:1px solid rgba(0,0,0,1);
  position:relative;
}

.form h1:after {
  content:"";
  display:block;
  width:250px;
  height:100px;
  position:absolute;
  top:0;
  left:50px;
  pointer-events:none;
  transform:rotate(70deg);
  background:linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
  
}

.label {
  color:#93c6f8;
  display:block;
  padding-bottom:9px;
}





////////////////////////////////////////////TEMPORAL/////////////////////////////////////////////////////
* {
  box-sizing: border-box;
}

h4{
    text-align: center;
}

img {
  display: block;
  width: 220px;
  height: 220px;
  border-radius: 199px;
}

.galeria {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.galeria__item {
  width: 80%;
  cursor: pointer;
}
@media (min-width:480px) {
  .galeria__item {
    width: 48%;
    margin: 5px;
  }
}
@media (min-width:768px) {
  .galeria__item {
    width: 30%;
  }
}
@media (min-width:1024px) {
  .galeria__item {
    width: 20%;
    margin: 15px;
  }
}

.nombre{
  width:100%;
  height:50px;
  position: absolute;
  right: 5px;
  top: 0;
  text-align:center;
}

.datos__item{
  width:50%;
  position: relative;
  right: 20%;
  top: 0em;
}

.producto{
  margin:30px;
  position: relative;
  width: 250px;
  height: 250px;
  background: #33ffc4;
  border-radius: 199px;
}

.producto span{
  width: 200px;
  height: 30px;
  display: block;
  position: absolute;
  top:-10px;
  left:25px;
  background: #6e8295;
  text-align: center; 
  border-radius: 15px;
}

.contenedor{
  margin:30px;
  position: relative;
  width: 500px;
  height: 300px;
  background: #956e94;
  border-radius: 15px
}

/////////////////////////////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////////////////////////