.divFechas{ 
text-align: center;
top:100px;
left: 10%;
overflow:hidden;
display:block;
padding:3em;
min-width: 350px;
min-height: 400px;
margin: 1em auto;
position: absolute;
background:white;  /*opacity: 0.5;*/
border-radius: 20px ;
border: 5px solid #666; 
word-wrap:break-word;
box-shadow: 0 0 40px #666;

}

input{
  text-align: center;  
    margin-left: auto;
  margin-right: auto;

}
.seleccionServicios{ 
text-align: center;
top:100px;
left: 55%;

overflow:hidden;
	display:block;
        padding:3em;
min-width: 350px;
min-height: 400px;
        margin: 1em auto;
        position: absolute;
	
       
	background:white;
        border-radius: 20px ;
        border: 5px solid #666;
        box-shadow: 0 0 40px #666;
word-wrap:break-word;

}


  .divFechas:before, .seleccionServicios:before {
    text-align: center;
    content: '';
    position: absolute;
    right: 5px;
    top: 7px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 5px 0 5px;
    border-color: #000000 transparent transparent transparent;
    z-index: 5;
    pointer-events: none;
  }
  .divFechas select, .seleccionServicios select {
    text-align: center;
    padding: 5px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    appearance: none;
  }
 
.button {
    text-align: center;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 4px 10px;

    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    width:100px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
 
    background-color: #4CAF50; /* Green */
    color: white;
}