* {
  box-sizing: border-box;
}

h4{
    text-align: center;
}

img {
  display: block;
  width: 220px;
  height: 220px;
  border-radius: 199px;
}

.galeria {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.galeria__item {
  width: 80%;
  cursor: pointer;
}
@media (min-width:480px) {
  .galeria__item {
    width: 48%;
    margin: 5px;
  }
}
@media (min-width:768px) {
  .galeria__item {
    width: 30%;
  }
}
@media (min-width:1024px) {
  .galeria__item {
    width: 20%;
    margin: 15px;
  }
}

.nombre{
  width:100%;
  height:50px;
  position: absolute;
  right: 5px;
  top: 0;
  text-align:center;
}

.categoria{
  width:45%;
  height:50px;
  color: #191ec2;
  position: absolute;
  right: 5px;
  top: 2em;
  text-align:center;
}

.stock{
  width:45%;
  height:50px;
  color: #191ec2;
  position: absolute;
  right: 5px;
  top: 4em;
  text-align:center;
}

.precio{
  width:45%;
  height:50px;
  color: #191ec2;
  position: absolute;
  right: 5px;
  top:6em;
  text-align:center;
}

.cantL{
  width:45%;
  height:50px;
  color: #191ec2;
  position: absolute;
  right: 5px;
  top:8em;
  text-align:center;
}

.cantidad{
  width: 100px;
  height: 34px;
  right: 75px;
  top: 11em;
  position: absolute;
  overflow: hidden;
  background: url(new_arrow.png) no-repeat right #ddd;
  border: 1px solid #ccc;
}

.cantidad2{
  width: 100px;
  height: 34px;
  right: 70px;
  top: 14em;
  position: absolute;
  overflow: hidden;
  background: url(new_arrow.png) no-repeat right #ddd;
  border: 1px solid #ccc;
}

.comprar{
  width:35%;
  height:50px;
  color: #191ec2;
  position: absolute;
  right: 30px;
  top: 14em;
  text-align:center;
}
.datos__item{
  width:50%;
  position: relative;
  right: 20%;
  top: 0em;
}

.producto{
  margin:30px;
  position: relative;
  width: 250px;
  height: 250px;
  background: #33ffc4;
  border-radius: 199px;
}

.producto span{
  width: 200px;
  height: 30px;
  display: block;
  position: absolute;
  top:-10px;
  left:25px;
  background: #6e8295;
  text-align: center; 
  border-radius: 15px;
}

.contenedor{
  margin:30px;
  position: relative;
  width: 500px;
  height: 300px;
  background: #956e94;
  border-radius: 15px
}
